params.fastq_source_folder = "/home/ubuntu/Subset_Paired_221213_GAP-007_0004_1_FC1"
params.file_name_root = "Undetermined_"
params.samplesheet = "/home/ubuntu/G15_44_samplesheet.csv"
params.output_dir_name = "demuxed_file"
params.allowed_mismatches = 3
params.min_delta = 2
params.out = "/home/ubuntu/test1/"


profiles {
    local {
        includeConfig 'config/local.config'
    }

    docker {
        docker.enabled = true
        includeConfig 'config/docker.config'
    }
}
