// Default parameters
params.allowed_mismatches = 3
params.min_delta = 1
params.lane_level = false
params.filter_control = true 
params.nmask_threshold = 2


profiles {
    docker {
        docker.enabled = true
        includeConfig 'config/docker.config'
    }
    wave {
        wave.enabled = true
        fusion.enabled = true
        process.scratch=false
        includeConfig 'config/docker.config'
        aws.batch.volumes = '/scratch/fusion:/tmp'
    }
}
